<div class="header-left-container">
    <a href="/" class="logo text-link">SubastaYa</a>
</div>
<form class="searchbar" id="search-form">
    <input type="text" placeholder="Buscar subastas..." id="search-input" name="busqueda">
    <button id="search-button" class="icon-button" type="submit">
        <ion-icon name="search-outline"></ion-icon>
    </button>
</form>
<div class="header-right-container">
    <a href="/" class="icon-link"><ion-icon name="wallet-outline"></ion-icon></a>
    <a href="/" class="icon-link"><ion-icon name="person-circle-outline"></ion-icon></a>
</div>