<div class="header-left-container">
    <a href="/" class="logo text-link">SubastaYa</a>
</div>
<div class="searchbar">
    <input type="text" placeholder="Buscar subastas..." id="search-input">
    <button id="search-button" class="button">
        <ion-icon name="search-outline"></ion-icon>
    </button>
</div>
<div class="header-right-container">
    <a href="/" class="icon-link"><ion-icon name="wallet-outline"></ion-icon></a>
    <a href="/" class="icon-link"><ion-icon name="person-circle-outline"></ion-icon></a>
</div>