<template id="subasta-card-template">
    <a class="card-container">
        <div class="card-img-container">
            <img src="" alt="" id="img">
        </div>
        <div class="card-info">
            <div class="card-info-header">
                <p class="categoria">Categoria</p>
                <p class="puja-contador"></p>
            </div>
            <div class="card-info-body">
                <p class="titulo">Título</p>
            </div>
            <hr>
            <div class="card-info-footer">
                <div>
                    <p>Puja actual</p>
                    <span class="puja-actual-monto">$ 0</span>
                </div>
                <div class="card-tiempo-container">
                    <p class="tiempo-label"></p>
                    <span class="tiempo"></span>
                </div>
            </div>
        </div>
    </a>
</template>