main {
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.catalogo-container {
    flex: 1;
    min-width: 0;
}

.catalogo-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.filtros-container {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: .75rem;

    & .filtro-titulo {
        font-weight: 500;
    }
}

.categorias-container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    justify-content: center;

    & .categoria-container {
        display: flex;
        gap: .5rem;
    }
}

.estados-container {
    & .estado-checkbox {
        display: flex;
        gap: .5rem;
    }
}

.rango-precio-container {
    display: flex;
    align-items: center;
    gap: .25rem;
    & input {
        outline: none;
        border: none;        
        
        max-width: 100px;
        padding: .25rem .5rem;
        border-radius: var(--border-radius);
        background: none;
        border: 1px solid var(--border-color);
        font-family: 'Inter', sans-serif;
    }
}