main {
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.catalogo-container {
    flex: 1;
    min-width: 0;
}

.catalogo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.publicar-subasta-button {
    display: flex;
    align-items: center;
    gap: .5rem;

    & ion-icon {
        font-size: 1.25rem;
    }
}

.catalogo-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.filtros-header {
    display: flex;
    justify-content: space-between;
}

.filtros-container {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: .75rem;

    & .filtro-titulo {
        font-weight: 500;
    }
}

.categorias-container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    justify-content: center;
}

.rango-precio-container {
    display: flex;
    align-items: center;
    gap: .25rem;
    & input {
        outline: none;
        border: none;        
        
        font-size: 1rem;
        max-width: 100px;
        padding: .5rem;
        border-radius: var(--border-radius);
        background: none;
        border: 1px solid var(--border-color);
        font-family: 'Inter', sans-serif;
    }
}

.form-select {
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
}